spring:
  application:
    name: camnect-server

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3307/${DB_NAME:camnect}?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=utf8}
    username: ${SPRING_DATASOURCE_USERNAME:${MYSQL_USER_NAME:camnect}}
    password: ${SPRING_DATASOURCE_PASSWORD:${MYSQL_USER_PASS:camnect1234}}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: ${JPA_DDL_AUTO:update}
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080
